{% extends 'base.html.twig' %}

{% block title %}Aircraft{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
      <h1>Aircraft</h1>
    </div>
<div class="container">
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <a class="navbar-brand" href="{{ path('aircraft_index') }}" style="color: white;">Accueil</a>
</nav>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aircraft.id }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ aircraft.manufacturer }}</td>
            </tr>
            <tr>
                <th>BasicType</th>
                <td>{{ aircraft.basicType }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('aircraft_edit', {'id': aircraft.id}) }}">Modifier</a>
    {{ include('aircraft/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-primary" href="{{ path('aircraft_index') }}">Retour</a>
<div>
{% endblock %}
